# Sanity Studio
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_ORGANIZATION_ID=

# Sanity Client (Frontend)
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2024-03-01

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=uploads

# Cloudinary for Studio & Client Frontend
SANITY_STUDIO_CLOUDINARY_CLOUD_NAME=
SANITY_STUDIO_CLOUDINARY_API_KEY=
SANITY_STUDIO_CLOUDINARY_API_SECRET=
SANITY_STUDIO_CLOUDINARY_FOLDER=uploads
VITE_CLOUDINARY_CLOUD_NAME=
